body {
  background-color: #b0b0b0;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.column {
  height: 100vh;
  background-color: #fff;
  width: inherit;
}

.title {
  height: 200px;
  background-color: #3e91fe;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 20px;
}

.title h1 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 100px;
  font-size: 50pt;
}

.title button {
  position: relative;
  bottom: 10px;
  left: 800px;
  color: #3e91fe;
  background-color: #fff;
  border: none;
  font-size: 40px;
  width: 120px;
  height: 50px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 1px 5px #545454;
}

.title button:active {
  box-shadow: 0 1px #545454;
  transform: translateY(4px);
}

.list {
  width: 950px;
  height: 490px;
  background-color: #ffffff;
  overflow-y: scroll;
  margin: 25px auto;

}

.reminder {
  width: 900px;
  height: 55px;
  color: #000;
  background-color: #b4f1fe;
  list-style: none;
  line-height: 50px;
  margin: 5px auto;
  position: relative;
  border-radius: 10px;
  padding: 0 10px;
  right: 25px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  box-shadow: 4px 5px #89c5d2;
}

.actions {
  margin-left: 510px;
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.btn-check {
  width: 80px;
  height: 40px;
  background-color: #00d62b;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
}

.btn-check:hover {
  background-color: #fff;
  color: #00d62b;
  border: 1px solid #00d62b;
}

.btn-check:active {
  background-color: #00d62b;
  color: #fff;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.btn-delete {
  width: 80px;
  height: 40px;
  background-color: #fe3e3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
}

.btn-delete:hover {
  background-color: #fff;
  color: #fe3e3e;
  border: 1px solid #fe3e3e;
}

.btn-delete:active {
  background-color: #fe3e3e;
  color: #fff;
  border: 1px solid #fe3e3e;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}